<div class="popup hidden color-{{ section.settings.color_scheme }}" id="popup">
  <div class="popup-box">
    <button
      id="close_button"
      class="close-button"
      type="button"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>
    <div class="popup-content {% if section.settings.layout_row == true %} grid {% endif %} {% if section.settings.layout_row_right == true %} grid--reverse {% endif %}">
      <div class="popup_image {% if section.settings.layout_row == true %} grid--2-col grid__item {% endif %}">
        {%- if section.settings.image != blank -%}
          {%- assign image_size_2x = section.settings.image_width | times: 2 | at_most: 5760 -%}
          <div
            class="popup-block__image-wrapper"
            style="max-width: min(100%, {{ section.settings.image_width }}px);"
          >
            <img
              srcset="{{ section.settings.image | image_url: width: section.settings.image_width }}, {{ section.settings.image | image_url: width: image_size_2x }} 2x"
              src="{{ section.settings.image | image_url: width: 760 }}"
              alt="{{ section.settings.image.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
            >
          </div>
        {%- endif -%}
      </div>
      <div class="popup_blocks {{ section.settings.content_alignment }} {% if section.settings.layout_row == true %} grid--2-col grid__item {% endif %}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2>{{ block.settings.heading }}</h2>
            {%- when 'text' -%}
              <p>{{ block.settings.text }}</p>
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="{% if block.settings.button_style_secondary %} button--secondary button{% elsif block.settings.button_style_link %} button--link {% else %} button--primary button{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
            {%- when 'image' -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.popup.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "layout_row",
      "label": "Do you want your content to be displayed in a row?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "layout_row_right",
      "label": "Do you want your image on the right?",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "delay",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "s",
      "label": "Delay time in seconds",
      "default": 5
    },
    {
      "type": "range",
      "id": "opt_time",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "d",
      "label": "Opt time in days",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Popup header",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__0.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_size.options__6.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.heading_element_header.content"
        },
        {
          "type": "checkbox",
          "id": "heading_element_custom",
          "label": "t:sections.all.heading_element_custom.label",
          "info": "t:sections.all.heading_element_custom.info",
          "default": false
        },
        {
          "type": "select",
          "id": "heading_element",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_element.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_element.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_element.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_element.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_element.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_element.options__6.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_element.label",
          "info": "t:sections.all.heading_element.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_link",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.link_style_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.popup.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .popup {
    overflow: auto;
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  #popup {
    background: rgba(var(--color-foreground), 0.2);
  }

  .popup-box {
    position: absolute;
    max-width: 700px;
    min-width: 300px;
    height: auto;
    background-color: rgb(var(--color-background));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: var(--border-radius);
    max-height: 80%;
    padding: 1.5rem 3rem;
  }

  .popup_blocks > * {
    margin: 1rem auto;
  }

  .popup_image svg {
    max-height: 30rem;
    width: auto;
  }

  .popup .icon {
    height: auto;
    width: 2.2rem;
  }

  .popup #close_button {
    border: 0.1rem solid rgba(var(--color-foreground), 0.1);
    color: rgba(var(--color-foreground), 0.55);
    background-color: rgb(var(--color-background));
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    border-radius: 50%;
    padding: 1.2rem;
    margin: 0 0 1rem auto;
    top: 1.5rem;
    width: 4rem;
  }

  .popup_blocks .button {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 990px) {
    .popup-content .grid--2-col {
      width: 100%;
      max-width: 100%;
    }
  }

  @media screen and (min-width: 990px) {
    .popup-content {
      padding-right: 4.4rem;
    }

    .popup-box {
      padding: 4rem;
    }
  }
{% endstylesheet %}

<script>
  document.addEventListener('DOMContentLoaded', function () {

    const popup = document.getElementById('popup');
    const closedButton = document.getElementById('close_button');

    function closePopup() {
      sessionStorage.setItem('hide', 0);
      document.getElementById('popup').classList.add('hidden');
      document.getElementById('popup').classList.remove('show');
      document.body.classList.remove('overflow-hidden');
    }

    document.addEventListener('click', function(event) {
      const elementClicked = event.target;
      if ( elementClicked == closedButton ) {
        closePopup()
      } else if (elementClicked == popup) {
        closePopup()
      }
    });

    // -------- probably have to swtih to the cookies and setup the time how long the setup needs to be stored


    // Function for popup close button and keeping the popup closed even you reload page
    // In store editor you can choose delay to show popup and also time when the popup will appear again after closing it
    // We are using session storage to keep the popup closed even after page reload
    setTimeout(function () {
      if (sessionStorage.getItem('hide', 0)) {
        document.getElementById('popup').classList.add('hidden');
      } else {
        document.getElementById('popup').classList.add('show');
        document.body.classList.add('overflow-hidden');
      }
    }, {{ section.settings.delay }}000);


    const countDays = ({{ section.settings.opt_time }} * 86400000);
    // delete session storage after time setup by admin (time setup in days)
    setTimeout(function () {
      sessionStorage.removeItem('hide', 0); //
    }, countDays);

  });
</script>
